#about {
    display: block;
    text-align: center;
}

#main-about-contents > * {
    margin: auto;
}

#about figure {
    background-color: rgb(114, 65, 0);
    border: 4px solid rgb(212, 143, 78);
    border-radius: 15px;
    padding: 8px;
    width: fit-content;
}

#about article {
    border: 4px solid silver;
    border-radius: 15px;
    padding: 10px 20px;
    text-align: start;
}

@media only screen and (max-width: 767px) {
    #about figure img {
        width: 144px;
        height: 192px;
    } 

    #about article {
        width: 150px;
    }
}

@media only screen and (min-width: 768px) {
    #about figure img {
        width: 384;
        height: 512px;
    }

    #about #main-about-contents {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #about article {
        margin-top: 0;
        
        width: 600px;
    }
}