header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px ridge var(--accent);
    position: fixed !important;
    width: 100%;
    z-index: 999;
}

#site-logo {
    background-color: darkslategray;
    width: fit-content;
    height: fit-content;
    text-align: center;
    text-decoration: none;
    margin: 6px;
    padding: 6px;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}

#site-logo:hover {
    background-color: black;
}

#site-logo img {
    width: 50px;
    height: 50px;
}

#site-logo span {
    margin-left: 8px;
}

.hamburger-button {
    background-color: var(--header-color) !important;
    color: white !important;
    font-size: 30px;
    font-weight: bold;
    border-radius: 0px;
    border: none;
    margin-right: 20px;
}

.hamburger-menu-false {
    display: none;
}

.hamburger-menu-true {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 30px;
}

@media only screen and (max-width: 767px), (max-height: 499px) {
    /* header + main {
        margin-top: 122px;
    } */

    header > .no-show {
        display: none !important;
    }

    #site-logo {
        display: flex;
    }

    .inline-menu {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    /* header + main {
        margin-top: 86px;
    } */

    #site-logo {
        display: flex;
    }
    
    header > span {
        font-size: 30px;
    }

    .inline-menu {
        display: inline-flex;
        align-items: center;
        text-align: center;
    }

    .inline-menu * {
        margin-right: 10px;
    }

    .hamburger-menu, .hamburger-button {
        display: none;
    }
}